<?xml version="1.0"?>
<launch>
  <node pkg="lvr_ros" type="lvr_ros_reconstruction" name="reconstruction" output="screen">
    <remap from="pointcloud" to="assembled_cloud"/>
    <remap from="mesh" to="assembled_mesh"/>
    <rosparam command="load" file="$(find lvr_ros)/config/lvr_params.yaml" />
  </node>
</launch>
